<h2><%= I18n.t('submit_token_title', {:scope => 'devise'}) %></h2>

<%= form_for(resource, :as => resource_name, :url => [resource_name, :checkga], :html => { :method => :put }) do |f| %>
	<%= f.hidden_field :tmpid, {:value => @tmpid} %>
	<%= f.text_field :gauth_token, :autocomplete => :off%>
	<p><%= f.submit I18n.t('submit_token', {:scope => 'devise'}) %></p>
<% end %>