<h2><%= :submit_token_title %></h2>

<%= form_for(resource, :as => resource_name, :url => [resource_name, :checkga], :html => { :method => :put }) do |f| %>
	<%= f.hidden_field :tmpid, {:value => @tmpid} %>
	<%= f.text_field :token, :autocomplete => :off%>
	<p><%= f.submit :submit_token %></p>
<% end %>